// Root Component
.navbar {
    background-color: blue;
    position: absolute; 
    width: 100%;
    top: 0;
}
// Container class
.nav-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
// Item element class
.nav-container div {
    font-size: 26px;
    font-weight: bold;
    color: white;

    padding: 1rem;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-btn {
    /* border: none;
    outline: none;  */
}
.dropdown-content {
    display: none; 
    position: absolute;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}